aeidon==1.9
appdirs==1.4.4
attrs==20.3.0
Automat==20.2.0
autopep8==1.5.7
bcrypt==3.1.7
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
diff-match-patch==20200713
distlib==0.3.2
distro-info==1.0
filelock==3.0.12
fuse-python==1.0.2
gpg===1.14.0-unknown
grpcio==1.38.1
html5lib==1.1
httplib2==0.18.1
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
iniparse==0.4
jina==2.0.4
Kivy==1.11.0
lxml==4.6.3
numpy==1.19.5
phply==1.2.5
ply==3.11
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.7.0
pycountry==20.7.3
pycups==2.0.1
pycurl==7.43.0.6
pyenchant==3.2.0
Pygments==2.7.1
PyGObject==3.38.0
PyHamcrest==1.9.0
pylibacl==0.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.2.0
python-dateutil==2.8.1
python-debian==0.1.39
python-debianbts==3.1.0
python-Levenshtein==0.12.2
pytz==2021.1
pyxattr==0.7.2
PyYAML==5.3.1
pyzmq==22.1.0
reportbug==7.10.3
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scour==0.38.2
service-identity==18.1.0
simplejson==3.17.2
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
tornado==6.1
translate-toolkit==3.3.2
Twisted==20.3.0
unattended-upgrades==0.1
urllib3==1.26.5
vboxapi==1.0
virtualenv==20.4.7
vobject==0.9.6.1
webencodings==0.5.1
zope.interface==5.2.0
